<footer class="bd-footer d-none d-md-block bg-light mt-0 text-muted">
  <div class="container-fluid p-3 p-md-5" style="margin-left: 35%">
    <ul class="bd-footer-links">
      <li>
        <a class="p-3" href="https://github.com/zonesama/C0919I1-OmegaLUL-Blog-Project-FE">GitHub</a>
        <a class="p-3" href="#">Contact</a>
        <a class="p-3" href="#">About</a>
      </li>
    </ul>
    <p>Designed and built by <a href="https://github.com/zonesama/C0919I1-OmegaLUL-Blog-Project-FE">OmegaLUL Team</a> with the help of <a href="#">our coach and tutor</a>.</p>
   </div>

</footer>
