<form [formGroup]="registerForm" (ngSubmit)=" registerForm.valid && onSubmit()" class="mt-4 col-md-6 offset-md-2">
  <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
    {{errorMessage}}
  </div>
  <div class="form-group row">
    <label class="col">
      Name
      <input class="form-control" formControlName="name">
    </label>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="registerForm.get('name').invalid && registerForm.get('name').touched">
    Please enter your name :)
  </div>
  <div class="form-group row">
    <label class="col">
      Username
      <input class="form-control" formControlName="username">
    </label>
  </div>
  <div class="form-group row">
    <label class="col">
      Avatar
      <input type="text" class="form-control" formControlName="avatar" (change)="addAvatarUrl($event)">
    </label>
  </div>
  <div class="form-group row">
    <input style="margin-left: 20%" type="file"  (change)="addAvatarFile($event)">
    <button type="button" (click)="uploadAvatar()">Upload</button>
  </div>
  <div class="form-group row" *ngIf="avatarPreviewUrl" >
    <label style="margin-top: 10px">
      Preview:
      <img src="{{avatarPreviewUrl}}" style="height: 200px; width: 300px">
    </label>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="registerForm.get('username').invalid && registerForm.get('username').touched">
    Please enter an username :)
  </div>
  <div class="form-group row">
    <label class="col">
      Email
      <input type="email" class="form-control" formControlName="email">
    </label>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="registerForm.get('email').invalid && registerForm.get('email').touched">
    Invalid email!
  </div>
  <fieldset formGroupName="pwGroup">
    <div class="form-group row">
      <label class="col">
        Password
        <input type="password" class="form-control" formControlName="password">
      </label>
    </div>
    <div class="form-group row">
      <label class="col">
        Confirm Password
        <input type="password" class="form-control" formControlName="confirmPassword">
      </label>
    </div>
  </fieldset>
  <div class="alert alert-danger" role="alert" *ngIf="registerForm.get('pwGroup').get('password').invalid && registerForm.get('pwGroup').get('password').touched">
    <div *ngIf="registerForm.get('pwGroup').get('password').errors.required">Password is required</div>
    <div *ngIf="registerForm.get('pwGroup').get('password').errors.minlength">Password must be at least 6 characters</div>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="registerForm.hasError('passwordnotmatch', ['pwGroup']) &&
      registerForm.get('pwGroup').touched">
    Password does not match!
  </div>
<!--  <div class="form-group row">-->
<!--    <label class="col">-->
<!--      Country-->
<!--      <select formControlName="country" class="form-control">-->
<!--        <option value="">Select</option>-->
<!--        <option value="vn">VN</option>-->
<!--        <option value="us">US</option>-->
<!--      </select>-->
<!--    </label>-->
<!--  </div>-->
<!--  <div class="alert alert-danger" role="alert" *ngIf="registerForm.get('country').invalid && registerForm.get('country').touched">-->
<!--    Country is required!-->
<!--  </div>-->
<!--  <div class="form-group row">-->
<!--    <label class="col">-->
<!--      Age-->
<!--      <input type="number" class="form-control" formControlName="age">-->
<!--    </label>-->
<!--  </div>-->
<!--  <div class="alert alert-danger" role="alert" *ngIf="registerForm.get('age').invalid && registerForm.get('age').touched">-->
<!--    You have to be over 18 to register an account-->
<!--  </div>-->
<!--  <div class="form-group row">-->
<!--    <div class="col">-->
<!--      Gender-->
<!--      <label><input type="radio" formControlName="gender" value="male">Male</label>-->
<!--      <label><input type="radio" formControlName="gender" value="female">Female</label>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="alert alert-danger" role="alert" *ngIf="registerForm.get('gender').invalid && registerForm.get('gender').touched">-->
<!--    Gender is required!-->
<!--  </div>-->
<!--  <div class="form-group row">-->
<!--    <label class="col">-->
<!--      Phone-->
<!--      <input type="tel" class="form-control" formControlName="phone" placeholder="+84 ***********">-->
<!--    </label>-->
<!--  </div>-->
<!--  <div class="alert alert-danger" role="alert" *ngIf="registerForm.get('phone').invalid && registerForm.get('phone').touched">-->
<!--    <span *ngIf="registerForm.get('phone').hasError('required')">Phone is required</span>-->
<!--    <span *ngIf="registerForm.get('phone').hasError('pattern')">Phone must start with +84 followed by 9 or 10 digits.</span>-->
<!--  </div>-->
  <div class="form-group">
    <button class="btn btn-info col-12"  type="submit">Submit</button>
  </div>
</form>

<!--<pre>-->
<!--{{ registerForm.value | json}}-->
<!--</pre>-->
