<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow" style="height: 7%;" id="myNavBar">
  <a style="margin-left: 15px">
    <button type="button" class="openbtn" (click)="w3_open()">&#9776;</button>
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/">
      <img src="https://storage.googleapis.com/blogs-pj.appspot.com/zone.god.blogprojectbe/images/Logo2.png"
           style="height: 60px;width: fit-content">
    </a>
  </a>
  <input class="form-control form-control-dark col-sm-3 col-md-5 mr-0" type="text" id="searchBox" #searchInput
         placeholder="Search" aria-label="Search" (input)="SearchBlog($event)">
  <div class="dropdown" *ngIf="isLoggedIn()">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
      Action
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
           stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
           class="feather feather-plus-circle">
        <circle cx="12" cy="12" r="10"></circle>
        <line x1="12" y1="8" x2="12" y2="16"></line>
        <line x1="8" y1="12" x2="16" y2="12"></line>
      </svg>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <button class="dropdown-item" type="button">
        <a (click)="goToNewBlog()">New Blog</a>
      </button>
      <button class="dropdown-item" type="button">
        <a (click)="goToBlogList()">My Blogs</a>
      </button>
      <button class="dropdown-item" type="button">
        <a (click)="goToNewImgBlog()">New Image Blog</a>
      </button>
      <!--      <button class="dropdown-item" type="button">-->
      <!--        <a (click)="goToImgBlogList()">My Image Blogs</a>-->
      <!--      </button>-->
      <button class="dropdown-item" type="button">
        <a href="#">Toang</a>
      </button>
    </div>
  </div>
  <div *ngIf="currentUser">
    <div *ngIf="isLoggedIn()">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          <!--        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>-->
          <!--        <i class="fa fa-user-o" aria-hidden="true"></i>-->
          <img class="zoom" src="{{currentUser.avatar}}" style="border-radius: 50%; width: 30px; height: 30px">
          {{currentUser.displayName}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button">
            <a (click)="goToChangeUserInfo()">Change Profile Info</a>
          </button>
          <button class="dropdown-item" type="button" *ngIf="currentUser.provider === 'OmegaLUL'">
            <a (click)="goToChangePassword()">Change Password</a>
          </button>
          <button class="dropdown-item" type="button">
            <a (click)="logOut()">Logout</a>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <li *ngIf="!isLoggedIn()">
      <button class="nav-item mr-5 px-1 py-1 btn btn-info" href="#" data-toggle="modal" data-target="#modalRegisterForm"
              (click)="onLoginButtonClicked()">Login
      </button>
      <button class="nav-item mr-5 px-1 py-1 btn btn-info" routerLink="/signUp">SignUp</button>
    </li>
  </div>
</nav>
<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form [formGroup]="loginInfo" (ngSubmit)="loginInfo.valid && onSubmit()" novalidate>
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Log In</h4>
          <button type="button" class="close" id="closeBtn" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="row">
          <div class="col-6 text-right">
            <button (click)="socialSignIn('facebook')" class="btn btn-lg btn-block" type="button">
              <i class="fa fa-facebook fa-2x"></i>
            </button>
          </div>
          <div class="col-6 text-right">
            <button (click)="socialSignIn('google')" class="btn btn-lg btn-block" type="button">
              <i class="fa fa-google fa-2x"></i>
            </button>
          </div>
        </div>
        <div class="modal-body mx-3">

          <div class="md-form mb-3">
            <label data-error="wrong" data-success="right" for="orangeForm-email">Username</label>
            <input type="text" id="orangeForm-email" class="form-control validate mainLoginInput" placeholder="&#61447;"
                   formControlName="username">
          </div>
          <div class="alert alert-danger" role="alert"
               *ngIf="loginInfo.get('username').invalid && loginInfo.get('username').touched">
            Please enter username :)
          </div>
          <div class="md-form mb-4">
            <!--          <i class="fas fa-lock prefix grey-text"></i>-->
            <label data-error="wrong" data-success="right" for="orangeForm-pass">Password &nbsp;</label>
            <input type="password" id="orangeForm-pass" class="form-control validate mainLoginInput"
                   placeholder="&#61475;" formControlName="password">
          </div>
          <div class="alert alert-danger" role="alert"
               *ngIf="loginInfo.get('password').invalid && loginInfo.get('password').touched">
            <div *ngIf="loginInfo.get('password').errors.required">Password is required</div>
            <div *ngIf="loginInfo.get('password').errors.minlength">Password must be at least 6 characters</div>
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
            {{errorMessage}}
          </div>
          <div>
            Don't have an account?
            <a href="/signUp">Sign up</a>
            Now!
          </div>

        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button class="btn btn-deep-orange">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
