<div class="row">
  <form>
    <div class="form-group row">
     <h1 style="text-align: center; text-shadow: #5cb85c 2px 2px 7px">{{blog.tittle}}</h1>
    </div>
    <div class="form-group row">
      <a>{{tags}}</a>
    </div>
    <div class="form-group row">
      <h6 style="text-align: center">Created On: {{blog.createdDate}}</h6>
    </div>
    <div class="form-group row">
      <h6 style="text-align: center">Last updated on: {{blog.lastUpdatedDate}}</h6>
    </div>
    <div class="form-group row">
      <fieldset>
        <legend>Content</legend>
        <div class="col-8 offset-1" [innerHTML]="blog.content | safeHtml"></div>
      </fieldset>
    </div>
    <div class="form-group row">
      <button class=" btn btn-info" type="Button" routerLink="/blog">Back</button>
    </div>
  </form>
</div>


