<div class="row">
  <form>
    <div class="form-group row">
      <share-button button="facebook" theme="circles-dark" [icon]=fbIcon></share-button>
      <share-button button="twitter" theme="circles-dark" [icon]=tweetIcon></share-button>
    </div>
    <div class="form-group row">
      <h1 style="text-align: center; text-shadow: #5cb85c 2px 2px 7px">{{blog.tittle}}</h1>
    </div>
    <div class="form-group row">
      <a class="col-10">{{tags}}</a>
      <button class="col-0.5" printSectionId="print-section" ngxPrint><i class="fa fa-print" aria-hidden="true"></i>
      </button>
    </div>
    <div class="form-group row">
      <h6 style="text-align: center">Author: {{blog.user.name}}</h6>
    </div>
    <div class="form-group row">
      <h6 style="text-align: center">Created On: {{blog.createdDate}}</h6>
    </div>
    <div class="form-group row">
      <h6 style="text-align: center">Last updated on: {{blog.lastUpdatedDate}}</h6>
    </div>
    <div class="form-group row" >
      <fieldset>
        <legend>Content</legend>
        <div id="print-section" class="col-8 offset-1" [innerHTML]="blog.content | safeHtml"></div>
      </fieldset>
    </div>
    <div class="form-group row">
      <button class=" btn btn-info" type="Button" routerLink="/blog">Back</button>
    </div>
  </form>
</div>

