<!--<nav role="navigation"-->
<!--     class="metabar-block metabar-block&#45;&#45;below u-flexCenter u-overflowHidden u-height50 u-xs-height39">-->
<!--  <div class="u-noWrap navBar-scrollFix uiScale uiScale-ui&#45;&#45;regular uiScale-caption&#45;&#45;regular">-->
<!--    <nav class="ds-nav ds-nav&#45;&#45;textCaps ds-nav&#45;&#45;spacingNone js-navBar" data-action-scope="_actionscope_3">-->
<!--      <div class="u-flexCenter u-minWidth0">-->
<!--        <div class="u-flex0 u-paddingRight10 js-carouselNavigation">-->
<!--          <button-->
<!--            class="button button&#45;&#45;chromeless u-baseColor&#45;&#45;buttonNormal button&#45;&#45;withIcon button&#45;&#45;withSvgIcon js-carouselReverse"-->
<!--            data-action="scroll-carousel" data-action-value="-1" disabled="disabled"><span-->
<!--            class="svgIcon svgIcon&#45;&#45;arrowLeft svgIcon&#45;&#45;21px is-flushLeft"><svg class="svgIcon-use" width="21"-->
<!--                                                                               height="21"><path-->
<!--            d="M13.402 16.957l-6.478-6.479L13.402 4l.799.71-5.768 5.768 5.768 5.77z"-->
<!--            fill-rule="evenodd"></path></svg></span></button>-->
<!--        </div>-->
<!--        <div class="u-flex1 u-overflowHidden">-->
<!--          <div class="u-flexTop js-carouselInner">-->
<!--            <li class="ds-nav-item js-tabsItem is-active"><span class="ds-nav-text"><a-->
<!--              class="ds-link ds-link&#45;&#45;stylePointer" href="https://medium.com/">Home</a></span></li>-->
<!--            <li class="ds-nav-item js-tabsItem">-->
<!--              <span class="ds-nav-text">-->
<!--                <a class="ds-link ds-link&#45;&#45;stylePointer" href="#"></a></span>-->
<!--            </li>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="u-flex0 u-marginLeftAuto u-paddingLeft10 js-carouselNavigation">-->
<!--          <button-->
<!--            class="button button&#45;&#45;chromeless u-baseColor&#45;&#45;buttonNormal button&#45;&#45;withIcon button&#45;&#45;withSvgIcon js-carouselForward"-->
<!--            data-action="scroll-carousel"><span class="svgIcon svgIcon&#45;&#45;arrowRight svgIcon&#45;&#45;21px is-flushRight"><svg-->
<!--            class="svgIcon-use" width="21" height="21"><path d="M8.3 4.2l6.4 6.3-6.4 6.3-.8-.8 5.5-5.5L7.5 5"-->
<!--                                                             fill-rule="evenodd"></path></svg></span></button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </nav>-->
<!--  </div>-->
<!--</nav>-->
