<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Hello, world!</title>
</head>
<body>
<div class="container-fluid" style="width: 100%">
  <div class="row">
    <app-navbar></app-navbar>
  </div>
  <div class="row">
    <div class="col-2">
      <app-side-bar></app-side-bar>
    </div>
    <div class="col-9 offset-1" style="margin-top: 3%">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-footer></app-footer>
    </div>
  </div>
</div>
</body>
</html>
