<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Hello, world!</title>
</head>
<body style="overflow-x: hidden">
  <div class="container-fluid no-gutters">
    <div class="row">
      <div class="col-12">
        <app-navbar></app-navbar>
      </div>
    </div>
    <div class="row">
      <div class="col-2" style="margin-top: 3%">
        <app-side-bar></app-side-bar>
      </div>
      <div class="col-10" style="margin-top: 4%" (click)="w3_close()">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="row" (click)="w3_close()">
      <div class="col-12">
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</body>
</html>

