<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center alert alert-dark">
  <h4 class="display-4 darken-grey-text">Create A New Blog</h4>
</div>
<form [formGroup]="BlogForm" (ngSubmit)="onSubmit()">
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
            Blog Infomations
          </button>
        </h2>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <div class="form-group row">
            <label class="col-3 col-form-label">Tittle:</label>
            <input class="col-6" formControlName="tittle" type="text">
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label">Description:</label>
            <textarea class="col-6" formControlName="description"></textarea>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label">Thumbnail Url:</label>
            <input type="text" class="col-6" formControlName="thumbnail" (change)="onChangeThumpnailUrl($event)">
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Thumbnail PreView:</label>
            <img *ngIf="currentThumpnail" src="{{currentThumpnail}}" style="height: 300px;width: 200px">
          </div>
          <div class="form-group row">
            <label class="col-2 col-form-label">Tag:</label>
            <div class="col-0.5" *ngFor="let item of tagList">
              <input type="checkbox" (change)="onChangeBox(item.id,$event.target.checked)">&nbsp;&nbsp;{{item.name}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                  aria-expanded="false" aria-controls="collapseTwo">
            Blog Content
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <div class="form-group row">
            <div class="col-12">
              <ckeditor class="editor" style="width: 100%" formControlName="content" id="blog-content"
                        [editorUrl]="'https://cdn.ckeditor.com/4.11.4/full-all/ckeditor.js'"
                        [config]="ckEditorConfig"></ckeditor>
              <!--        <ckeditor style="min-height: 500px" formControlName="content" [editor]="Editor" [config]="editorConfig"></ckeditor>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row" style="margin-top: 50px">
    <button style="margin-left: 250px" class="btn btn-danger" type="button" routerLink="/blog">Back</button>
    <button style="margin-left: 250px" class="btn btn-primary" type="Submit">Submit</button>
  </div>
</form>
