<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center alert alert-dark">
  <h4 class="display-4 darken-grey-text">Create A New Blog</h4>
</div>
<div class="row offset-3">
  <form [formGroup]="BlogForm" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label class="col-2 col-form-label">Tittle:</label>
      <input class="col-6" formControlName="tittle" type="text">
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Description:</label>
      <textarea class="col-6" formControlName="description"></textarea>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Tag:</label>
      <div class="col-0.5" *ngFor="let item of tagList">
        <input type="checkbox" (change)="onChangeBox(item.id,$event.target.checked)">&nbsp;&nbsp;{{item.name}}
      </div>
    </div>
    <div class="form-group row">
      <label for="blog-content" class="col-md-2 col-form-label">Content:</label>
      <div class="col-md-10">
        <ckeditor formControlName="content" id="blog-content"
                  [editorUrl]="'https://cdn.ckeditor.com/4.11.4/full-all/ckeditor.js'"
                  [config]="ckEditorConfig"></ckeditor>
      </div>
    </div>
    <div class="form-group row">
      <button class="btn-info" type="Submit">Submit</button>
    </div>
  </form>
</div>
<pre>Form values: {{BlogForm.value | json}}</pre>
