<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
          Tags
        </button>
      </h2>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <div class="form-group row">
          <label class="col-2 col-form-label">Tag:</label>
          <div class="col-0.5" *ngFor="let item of tagList">
            <input type="checkbox" (change)="onChangeBox(item.id,$event.target.checked)">&nbsp;{{item.name}}&nbsp;&nbsp;
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row" style="margin-top: 50px">
    <button style="margin-left: 400px" class="btn btn-primary" type="Submit">Search by these tags</button>
  </div>
</div>

