<form [formGroup]="extraUserInfo" (ngSubmit)="extraUserInfo.valid && submit()" class="mt-2 col-md-4 offset-md-3">
  <div class="row">
    <h4>Please complete the form below for your first time social user login</h4>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="errorMsg">
    {{errorMsg}}
  </div>
  <div class="form-row">
    <label class="col-5">
      Display Name
      <input class="form-control"  formControlName="displayName" id="displayName">
    </label>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="extraUserInfo.get('displayName').invalid && extraUserInfo.get('displayName').touched">
    Please enter a display Name :)
  </div>
  <div class="form-row">
    <label class="col-5">
      Date Of Birth:
      <input type="date" class="form-control"  formControlName="dob" id="dob">
    </label>
  </div>
  <div class="form-row">
    <label class="col-3">
      Gender: &nbsp;
      <select class="form-control"  formControlName="gender" id="gender">
        <option value=""></option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
      </select>
    </label>
  </div>
  <div class="form-group">
    <button class="btn btn-danger col-2 offset-2" (click)="goBack()" type="button">Back</button>
    <button class="btn btn-info col-2 offset-4"  type="submit">Submit</button>
  </div>
</form>
